<div class="container margin-top">
  <h1 class="mt-5 offset-1">Profile page</h1>
  <div class="mt-4 mb-3">
    <div class="row">
      <div class="profile-box col-sm-12 col-lg-4 offset-lg-4">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill, class: 'mt-4 profile-avatar' %>
        <% else %>
          <%= image_tag 'user-svgrepo-com.svg', height: 200, class: 'mt-4 profile-avatar' %>
        <% end %>
        <h3 class="mt-3"><%= @user.name %></h3>
        <p><i class="fa-solid fa-earth-europe"></i> <%= @user.address %></p>
        <p><i class="fa-solid fa-envelope"></i> <%= @user.email %></p>
        <% if current_user == @user %>
          <button class="button-52 mb-5" role="button">
            <%= link_to "Edit profile", edit_user_registration_path(@user), class: 'link' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
