<div class="margin-top">
  <h1 class="page-title pt-text">hip shit</h1>

<div class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card">
        <% if product.photo.present? %>
          <div class="card-image card-jake" style="background-image: url('<%= cl_image_path product.photo.key, crop: :scale %>')"></div>
        <% else %>
          <div class="card-image card-jake" style="background-image: url('https://cdn2.wpbeginner.com/wp-content/uploads/2013/04/wp404error.jpg')"></div>
        <% end %>
        <div class="card-text">
          <h3 class="title"><%= product.title %></h3>
          <div class="card-content">
            <p><%= truncate(product.description, length: 90, separator: ' ') %></p>
            <% if product.purchase %>
              <img src="https://i.ibb.co/Yfr2npH/sold-1.pngg" width="200" height="65" alt="sold">
            <% else %>
              <p>Price: <i class="fa-solid fa-euro-sign"></i><%= sprintf("%0.02f", product.price) %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
</div>

<% if @search == nil %>
  <div class="container tenor mb-3">
    <div class="tenor-gif-embed" data-postid="21242595" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/no-shit-sherlock-genius-sherlock-holmes-big-brain-gif-21242595">No Shit Sherlock GIF</a>from <a href="https://tenor.com/search/no+shit-gifs">No Shit GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>
<% end %>

<% if @search == true || @search == nil%>
  <div class="container text-center mb-3">
    <%= link_to "Browse more shit", products_path, class: "btn btn-lg btn-primary" %>
  <%#= Below is the code to the fancy button currently not used  %>
  <%#= link_to products_path do %>
  <%#=    <div class= "container text-center" style="visibility: none"> %>
  <%#=       <button class="fancy-button one"> %>
  <%#=          <span style="color: black">Browse more shit!</span> %>
  <%#=        </button> %>
  <%#=    </div> %>
  <%# end %>
  </div>
<% end %>
