<h1 class="page-title pt-text"> Products</h1>

<ul class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <li class="card">
          <div class="card-image card-jake"></div>
          <div class="card-text">
            <h3 class="title"><%= product.title %></h3>
            <p class="card-content">
              <span class="description"><%= product.description %><br>
              Price : <%= product.price %>
              </span>
            </p>
          </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a new product", new_product_path %>
