<h1 class="page-title pt-text"> Products</h1>

<ul class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <li class="card">
          <% if product.cloudinary_id.present? %>
            <div class="card-image card-jake" style="background-image: url('<%= cl_image_path product.cloudinary_id.key, crop: :scale %>')"></div>
          <% else %>
            <div class="card-image card-jake" style="background-image: url('https://vignette.wikia.nocookie.net/brooklynnine-nine/images/7/7f/JakeS5.jpg/revision/latest?cb=20171103222710')"></div>
          <% end %>
          <div class="card-text">
            <h3 class="title"><%= product.title %></h3>
            <p class="card-content">
              <span class="description"><%= product.description %><br>
              Price : <%= product.price %>
              </span>
            </p>
          </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a new product", new_product_path %>
