<h1 class="page-title pt-text">hip shit</h1>

<div class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card">
        <% if product.photo.present? %>
          <div class="card-image card-jake" style="background-image: url('<%= cl_image_path product.photo.key, crop: :scale %>')"></div>
        <% else %>
          <div class="card-image card-jake" style="background-image: url('https://cdn2.wpbeginner.com/wp-content/uploads/2013/04/wp404error.jpg')"></div>
        <% end %>
        <div class="card-text">
          <h3 class="title"><%= product.title %></h3>
          <div class="card-content">
            <p><%= truncate(product.description, length: 90, separator: ' ') %></p>
            <% if product.purchase %>
              <img src="https://i.ibb.co/Yfr2npH/sold-1.pngg" width="200" height="65" alt="sold">
            <% else %>
              <p>Price: <i class="fa-solid fa-euro-sign"></i><%= sprintf("%0.02f", product.price) %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if @search == true %>
  <%= link_to products_path do %>
    <div class= "container text-center" style="visibility: none">
        <button class="fancy-button one">
          <span style="color: black">Browse more shit!</span>
        </button>
    </div>
    <% end %>
<% end %>
