<div class="margin-top">
  <h1 class="page-title pt-text margin-big">hip shit</h1>

<div class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card">
        <div class="card-image card-jake" style="background-image: url('<%= product.photo.present? ? cl_image_path(product.photo.key, crop: :scale) : 'https://cdn2.wpbeginner.com/wp-content/uploads/2013/04/wp404error.jpg' %>')">
        <% if product.purchase %>
          <div class="sold-content">SOLD</div>
        <% end %>
        </div>
        <div class="card-text">
          <h3 class="title"><%= product.title %></h3>
          <div class="card-content">
            <p><%= truncate(product.description, length: 90, separator: ' ') %></p>
            <p>Price: <i class="fa-solid fa-euro-sign"></i><%= sprintf("%0.02f", product.price) %></p>
          </div>
          <% if product.purchase %>
              <div class="sold-content">SOLD</div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>

<% if @search == nil %>
  <div class="container tenor mb-3">
<div class="tenor-gif-embed" data-postid="10902527" data-share-method="host" data-aspect-ratio="0.849421" data-width="100%"><a href="https://tenor.com/view/no-results-404-gif-10902527">No Results GIF</a>from <a href="https://tenor.com/search/no-gifs">No GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></div>
<% end %>

<% if @search == true || @search == nil%>
  <div class="container text-center mb-3">
    <%= link_to "keep browsing", products_path, class: "btn btn-md btn-primary" %>
  <%#= Below is the code to the fancy button currently not used  %>
  <%#= link_to products_path do %>
  <%#=    <div class= "container text-center" style="visibility: none"> %>
  <%#=       <button class="fancy-button one"> %>
  <%#=          <span style="color: black">Browse more shit!</span> %>
  <%#=        </button> %>
  <%#=    </div> %>
  <%# end %>
  </div>
<% end %>
