<div class="container">
  <div class="split left">
    <div class="centered">
      <% if @product.cloudinary_id.attached? %>
        <%= cl_image_tag @product.cloudinary_id.key, height: 500, width: 500, crop: :fill %>
      <% end %>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <h3 class="margin-bottom"><%= @product.title %></h3>
      <p><i class="fa-solid fa-tags"></i><%= @product.description %></p>
      <p><i class="fa-solid fa-euro-sign"></i><%= @product.price %></p>
      <button class="button-52" role="button">
        <%= link_to 'Back to All products', products_path, class: 'link' %>
      </button>
      <% if @product.purchase %>
        <img src="https://cdn-icons-png.flaticon.com/128/7511/7511680.png" width="80" height="80" alt="sold">
      <% else %>
        <button class="button-52" role="button">
          <%= link_to 'Buy this shit', new_product_purchase_path(@product) %>
        </button>
      <% end %>
    </div>
  </div>
</div>
