<div class="container-fluid">
  <div class="row">
    <div class="show-l col-12 col-lg-6">
      <div class="d-flex justify-content-center half">
        <div class="show-image">
          <% if @product.cloudinary_id.attached? %>
            <%= cl_image_tag @product.cloudinary_id.key, height: 500, width: 500, crop: :fill %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-r col-12 col-lg-6">
      <div class="half">
        <h3><% @product.title %></h3>
        <h3 class="margin-bottom margin-top"><%= @product.title %></h3>
        <p><i class="fa-solid fa-tags"></i> <%= @product.description %></p>
        <p><i class="fa-solid fa-cart-shopping"></i> <%= @product.price %> <i class="fa-solid fa-euro-sign"></i></p>
        <button class="button-52" role="button">
          <%= link_to "back to the list", products_path, class: 'link' %>
        </button>
        <% if @product.purchase %>
        <br><br>
        <img src="https://i.ibb.co/QjjPvJJ/shitsold.png" height="50" alt="sold">
        <% else %>
        <button class="button-52" role="button">
          <%= link_to "buy shit", new_product_purchase_path(@product), class: 'link' %>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
