<div class="container-fluid">
  <div class="row">
    <div class="show-l col-12 col-lg-6">
      <div class="d-flex justify-content-center half">
        <div class="show-image">
          <% if @product.photo %>
            <%= cl_image_tag @product.photo.key, height: 500, width: 500, crop: :fill %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-r col-12 col-lg-6">
      <div class="half">
        <h3 class="margin-bottom margin-top"><%= @product.title %></h3>
        <p>Seller: <%= @product.user.name %></p>
        <p><i class="fa-solid fa-tags"></i> <%= @product.description %></p>
        <p><i class="fa-solid fa-cart-shopping"></i> <i class="fa-solid fa-euro-sign"></i><%= sprintf("%0.02f", @product.price) %></p>
        <div style="width: 100%; height: 200px; margin-top: 20px; margin-bottom: 20px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <button class="button-52" role="button">
          <%= link_to "back to the list", products_path, class: 'link' %>
        </button>
        <% if @product.purchase %>
        <br><br>
        <img src="https://i.ibb.co/Yfr2npH/sold-1.png" height="100" alt="sold">
        <% else %>
        <button class="button-52" role="button">
          <%= link_to "buy shit", new_product_purchase_path(@product), class: 'link' %>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
